.act-search {
  width: 800px;
}
.search-results {
  background-color: $bg;
  border: white 1px solid;
  border-radius: 10px;
  padding: 2em;
}

.results-card {
  margin: 1em;
}

.saved-activities {
  border: $bg solid 1px;
  border-radius: 10px;
  padding: 2em;
}

.saved-card {
  background-color: $saved;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}
.card-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.card-img-container {
  width: 30%;
  justify-self: start;
}

 .card-img {
  height: 150px;
  object-fit: cover;
}

.title-review {
  display: flex;
  flex-direction: column;
}

.remove-btn-act {
  height: 25%;
  margin: .5em;
}
.loader-custom-dark {
  color: $custom-dark;
}
.loader-progress {
  color: $progress-dark;
}
.loader-saved-dark {
  color: $saved-dark;
}