.act-search {
  width: 800px;
}
.search-results {
  background-color: $bg;
  border: white 1px solid;
  border-radius: 10px;
  padding: 2em;
}

.saved-activities {
  border: $bg solid 1px;
  border-radius: 10px;
  padding: 2em;
}

.saved-card {
  background-color: $saved;
  color: #ffffff;
}