.schedule-btn {
  margin: 2em;
}
.itin-container {
  height: 750px;
  overflow-y: auto;
}
.itin {
  color: white;

}

.schedule-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $saved;
  margin: .5em;
}

.schedule-card-first-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.schedule-card-times {
  align-self: flex-start; 
}

.schedule-card-delete {
  align-self: flex-end;
}

.schedule-card-title {
  margin-left: -55px;
}
