.logout {
  list-style: none;
}

.nav {
  background-color: $saved;
  height: 75%;
  .navbar-brand {
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
  }
  .navbar-brand:hover {
    color: $progress;
  }
}

.btn-logout {
  font-size: 22px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.btn-logout:hover {
  color: $progress;
}